<div class="wrapper">
    <div class="container">
        <div class="design-wrapper-large">
            <div
                style="border-radius: 50%; opacity: 20%; background-image: repeating-linear-gradient(45deg, #1A11F7, #ffffff 3.75%); width: 65px; height: 60px; margin-top: 55px;">
            </div>
            <div
                style="border-radius: 50%; opacity: 10%; width: 74px; height: 55px; border: 8px solid #1A11F7; margin-left: -33px; margin-top: 34px;">
            </div>
            <h3 class="header">PORTFOLIO</h3>
        </div>
        <div class="portfolio-card-wrapper">
            <div class="portfolio-card">
                <img src="../../../assets/images/checkers-game.png" />
            </div>
            <div class="portfolio-card">
                <img src="../../../assets/images/blog.jpg" />
            </div>
            <div class="portfolio-card">
                <img src="../../../assets/images/blog.jpg" />
            </div>
            <div class="portfolio-card">
                <img src="../../../assets/images/blog.jpg" />
            </div>
            <div class="portfolio-card">
                <img src="../../../assets/images/blog.jpg" />
            </div>
            <div class="portfolio-card">
                <img src="../../../assets/images/blog.jpg" />
            </div>
            <div class="portfolio-card">
                <img src="../../../assets/images/blog.jpg" />
            </div>
            <div class="portfolio-card">
                <img src="../../../assets/images/blog.jpg" />
            </div>
        </div>
    </div>
</div>