<app-header></app-header>
<div class="wrapper">
    <div class="container">
        <div class="design-wrapper">
            <div
                style="border-radius: 50%; opacity: 20%; background-image: repeating-linear-gradient(45deg, #1A11F7, #ffffff 1%); width: 150px; height: 60px; margin-top: 50px;">
            </div>
            <div
                style="border-radius: 50%; opacity: 10%; width: 120px; height: 60px; border: 8px solid #1A11F7; margin-left: -30px; margin-top: 30px;">
            </div>
            <h3 class="header">ABOUT</h3>
        </div>
        <div class="about-bio">
            <p>My web developer journey started with a friend asking me to help fix the centering issue on his website.
                I started researching; and, eventually found the problem. It wasn't being centered due to the margin.
            </p>
            <p>After that I had the coding bug. It wasn't long before I made the decision to become a developer, I
                learned everything I could for three
                months. I started with HTML, then CSS and finally JavaScript. I worked at it 8 hours a day. I wanted to
                make sure I could do this everyday prior to going to a bootcamp. Now years later, I still enjoy all of
                the challanges. My favorite part is when I’m
                frustrated, because it means I’m learning
                something new.

            </p>

            <a target="_self" href="../../../assets/files/kenneth-coppola-resume.docx"
                download="kenneth-coppola-resume.docx" title="kenneth-coppola-resume.docx"><button
                    type="button">Download
                    Resume</button></a>
        </div>
    </div>
</div>