html, * {
   box-sizing: border-box; 
   margin: 0;
}

.main-background {
    background-color: rgb(205,205,205);
}

.secondary-background {
    background-color: rgb(255,255,255);   
}

.wrapper {
    margin: 0vh 15.75vw 0vh 15.75vw;
    width: 68.5vw;
}
nav {
height: 5vw;
text-align: right;
}
ul {
    padding-top: 4vh;
}
li {
    list-style-type: none;
    display: inline;
    font-size: 1.5vh;
    padding: .5vw;
}

.title {
height: 14vh;
}

.heading {
    padding-top: 3vh;
    font-size: 6vh;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 3px rgb(150,150,150);
}

.projects {
    display: grid;
    grid-template-columns: 33.35% 33.35% 33.35%;
    grid-template-rows: 12% 44% 44%;
    height: 60.5vh; 
    width: 68.5vw;
    margin-bottom: 10vh;
}

.projects_banner {
    grid-column: span 3; 
    text-align: center;
}
h1 {
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.work {
    display: grid;
    grid-template-columns: 25vh 25vh 25vh;
    grid-template-rows: 50vh 50vh;
}

 a {
     text-decoration: none;
     color: rgb(255,255,255);
 }

 figcaption {
    position: relative;
    top: -13vh;
    left: 20vh;
    z-index: -6;
}

figure:hover {
   background-color:rgba(59,182,194, 0.5);
   z-index: 6;   
}

img {
    
    height: 26.7vh;
    width: 22.9vw;
}

img:hover {
    opacity: 0.1;
    z-index: 1;
}

footer {
    height: 14vh;
    background-color: rgb(0,0,0);
}