<div class="wrapper">
    <div class="container">
        <div class="design-wrapper-large">
            <div
                style="border-radius: 50%; opacity: 20%; background-image: repeating-linear-gradient(45deg, #1A11F7, #ffffff 3.75%); width: 65px; height: 60px; margin-top: 55px;">
            </div>
            <div
                style="border-radius: 50%; opacity: 10%; width: 74px; height: 55px; border: 8px solid #1A11F7; margin-left: -33px; margin-top: 34px;">
            </div>
            <h3 class="header">EXPERIENCE</h3>
        </div>
        <div class="expereince-jobs-wrapper">
            <div class="experience-job-wrapper">
                <h4><span>ACL</span>, ROCK HILL, SC</h4>
                <h5>Web Developer</h5>
                <p>11-2020 - Present</p>
                <ul>
                    <li>Experience developing highly interactive web applications utilizing JavaScript, HTML 5, CSS,
                        JSON,
                        Angular, and Angular Material using Restful API’s.</li>
                    <li>Built an interface to upload files to Azure.</li>
                    <li>Provided development knowledge in support of new application development and maintenance</li>
                    <li>Work with UI / UX designer to help create then implement best design practices</li>
                    <li>Created a New Admin page for handling Digital Wallet payments</li>
                </ul>
            </div>

            <div class="experience-job-wrapper">
                <h4><span>RANKER</span>, Charlotte, NC</h4>
                <h5>Front End Developer</h5>
                <p>July 2019 - October 2019</p>
                <ul>
                    <li>Utilized MVC principles to ensure a clean architecture and clean code base.
                    </li>
                    <li>Followed the Agile development and consistently delivered new features on time.
                    </li>
                    <li>Implemented enhancements that significantly improved web functionality and speed
                    </li>
                    <li>Developed the new ad section to stick to the screen as a user scrolls</li>
                    <li>Communicated updates in daily scrum meetings.</li>
                </ul>
            </div>


            <div class="experience-job-wrapper">
                <h4><span>WELLS FARGO</span>, Charlotte, NC</h4>
                <h5>UI Developer</h5>
                <p>February 2019 - April 2019</p>
                <ul>
                    <li>Assisted with the creation of Pinq, which allows end-users the ability to query data contained
                        from
                        a web crawl.
                    </li>
                    <li>Followed the Agile development and consistently delivered new features on time.
                    </li>
                    <li>Attended daily and end of sprint stand-ups. Contributed in bi-weekly developer meetings.
                    </li>
                    <li>Worked with the Product Owner to develop the look of Pinq. </li>
                </ul>
            </div>
            <div class="experience-job-wrapper">
                <h4><span>DUKE ENERGY</span>, Charlotte, NC</h4>
                <h5>Application Developer II</h5>
                <p>June 2018 - Novemember 2018</p>
                <ul>
                    <li>Key contributor in creating a user-friendly website to enable engineers the ability to design
                        complex gas systems. Worked on a redesign of the front-end to remove subjects and subscriptions
                        and
                        enable Ngrx.
                    </li>
                    <li>Removed complexity by switching from dynamic forms to reactive forms and flattening out the
                        project.
                    </li>
                    <li>Worked with the designers to finalize the 2.0 design and created the new layout.
                    </li>
                    <li>Conducted daily standup when my Scrum Master was unavailable.
                    </li>
                    <li>Followed the Agile development and consistently delivered new features on time.
                    </li>
                </ul>
            </div>
            <div class="experience-job-wrapper">
                <h4><span>FREELANCER</span>, Charlotte, NC</h4>
                <h5>Web Developer</h5>
                <p>2017 - Present
                </p>
                <ul>
                    <li>Rebuilt and maintained website using React and Redux for Paws in the Panhandle animal shelter in
                        Indian Land, South Carolina. </li>
                    <li>Created digital platforms to accelerate reach of Code for Charlotte.

                    </li>
                    <li>Followed the Agile development and consistently delivered new features on time.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>